<!doctype html>
<html lang="en_CA">
    <head>
        <meta charset="UTF-8" />
        <title>{% if page.title %} {{ page.title }} | {% endif %}biscuitsandtea weblog - A blog about Linux</title>
        <link rel="shortcut icon" href="{{site.baseurl}}static/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}static/css/normalize.css"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}static/css/fonts.css"/>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}static/css/media.css"/>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}static/css/monokai.css"/>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}static/css/main.css"/>
    </head>
    <body>
        <h1 id="blog-title">
            <a href="{{site.baseurl}}" title="A weblog about Linux">
                biscuitsandtea
            </a>
            <a href="https://github.com/jameh/jameh.github.io" title="Fork me on Github!">
                <img id="github-button" src="{{site.baseurl}}static/img/github-10-64.png">
            </a>
        </h1>
        <!-- <div class="paper"> -->
            <h2 id="nav-bar">
                <a href="{{site.baseurl}}about">About</a>
            </h2>
        <!-- </div> -->
        