body {
  color: #272822;
  font-family: "Open Sans", sans-serif;
  background: #272822 url("../img/darkdenim3.png") fixed; }

a {
  color: #4183c4;
  text-decoration: none;
  outline: 0; }
  a :hover {
    text-decoration: underline; }

#blog-title {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 880px; }
  #blog-title a {
    color: #fff;
    text-decoration: none; }
    #blog-title a :focus {
      outline: none; }
    #blog-title a :active {
      outline: none; }

#home-post-list {
  padding: 0;
  list-style-type: none; }

/* Paper element */
.paper {
  background: #fff;
  width: 880px;
  margin: 1rem auto;
  padding: 2rem 4rem;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 3px;
  line-height: 18pt; }

/* Inline code */
p > code {
  font-family: "DejaVu Sans Mono";
  font-size: 11pt;
  border: 1px solid #dddddd;
  display: inline;
  vertical-align: top;
  background-color: #f8f8f8;
  border-radius: 3px; }

/* Code blocks */
.highlight {
  color: #f8f8f2;
  border: 0;
  border-radius: 3px;
  background: #272822 url("../img/darkdenim3.png") fixed;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3) inset;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: auto;
  width: 752px; }
  .highlight > pre {
    font-family: "DejaVu Sans Mono";
    font-size: 11pt;
    white-space: pre;
    margin: 0; }

.paper,
#nav-bar,
.highlight,
.linenos {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block; }

#nav-bar {
  background: #666;
  width: 880px;
  margin: 0.5em auto;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 3px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  #nav-bar > a {
    color: #333; }
    #nav-bar > a :hover {
      color: #555; }
