body {
  color: #272822;
  font-family: "Open Sans", sans-serif;
  background: #272822 url("../img/darkdenim3.png") fixed; }

a {
  color: #4183c4;
  text-decoration: none;
  outline: 0; }
  a :hover {
    text-decoration: underline; }

#blog-title {
  font-family: "Open Sans", sans-serif;
  font-size: 4em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 880px; }
  #blog-title a {
    color: #fff;
    text-decoration: none; }
    #blog-title a :focus {
      outline: none; }
    #blog-title a :active {
      outline: none; }

#home-post-list {
  padding: 0;
  list-style-type: none; }

/* Paper element */
.paper {
  background: #fff;
  width: 880px;
  margin: 1em auto;
  padding: 2em 4em;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 3px;
  line-height: 18pt; }

/* Inline code */
p > code {
  font-family: "DejaVu Sans Mono";
  font-size: 11pt;
  border: 1px solid #dddddd;
  display: inline;
  vertical-align: top;
  background-color: #f8f8f8;
  border-radius: 3px; }

/* Code blocks */
.highlight {
  color: #f8f8f2;
  border: 0;
  border-radius: 3px;
  background: #272822 url("../img/darkdenim3.png") fixed;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3) inset;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: auto;
  width: 752px; }
  .highlight > pre {
    font-family: "DejaVu Sans Mono";
    font-size: 11pt;
    white-space: pre;
    margin: 0; }

/* Code table (line-numbered code block)
   .codehilite styling still applies to code */
.codehilitetable {
  margin: 0em;
  position: relative;
  left: -2.5em; }
  .codehilitetable .linenos {
    border-right: 0px solid #3c3c3c;
    height: auto;
    color: #666666;
    width: 2.5em;
    text-align: center;
    /*background-color: rgb(255, 255, 255);*/
    /*box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.8);*/ }
    .codehilitetable .linenos > .linenodiv {
      padding-top: 0.5em;
      padding-bottom: 0.5em; }
      .codehilitetable .linenos > .linenodiv > pre {
        font-family: "DejaVu Sans Mono";
        font-size: 11pt;
        white-space: pre;
        margin: 0; }
  .codehilitetable .code {
    padding: 0; }

.paper,
.codehilitetable,
.highlight,
.linenos {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block; }
